/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #4a4a4a;  
    font-family: inherit;   
    font-size: 15px;   
    border: 0;    
    border-bottom: 1px solid #e8e9ec;    
    padding: 5px 0px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #4a4a4a;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

