.side_message {
    padding: 0px 35px 0px 0px;
}
.middle{
    transition: .5s ease;
     opacity: 1;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align: center;
 }

 