.react-select__control {
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    background-color: #f4f2f2 !important;
    border: none !important;
    padding: 10px 25px;
    border-radius: 100px !important;
    width: 90%;
    transition: all 0.2s !important;
    margin-right: -50px;
  }
  .react-select__menu {
    
    background-color: #fff !important;
    border: none !important;
    margin: 2px 5px !important;  
    width: 88% !important;
    
    
  }
  